@model IEnumerable<QuanLyTrungTamDaoTao.Models.KhoaHoc>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Danh sách khóa học học viên đã đăng ký";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4" style="background-color: #f8f9fa;">
            <div class="card-body text-center py-4">
                <h1 class="display-6 fw-bold mb-0">Quản lý học viên</h1>
            </div>
        </div>
    </div>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}


<div class="wrapping">
    <div class="table-responsive">
        <div class=" d-flex justify-content-between align-items-center mb-3">
            <h2 class="text-lg-start">Danh sách khóa học</h2>
        </div>
        <table class="table table-bordered table-hover event-table shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>Mã</th>
                    <th>Tên khóa học</th>
                    <th>Giảng viên</th>
                    <th>Thời gian giảng dạy</th>
                    <th>Học phí</th>
                    <th>Số lượng sinh viên</th>
                    <th>Học phí</th>
                </tr>
            </thead>
            @if (Model == null)
            {
                <p>Không có khóa học nào.</p>
            }
            else
            {
                <tbody>

                    @foreach (var khoaHoc in Model)
                    {
                        Decimal DoanhThu = khoaHoc.SoLuongHocVienHienTai * khoaHoc.HocPhi;
                        var thoiGianKetThuc = khoaHoc.ThoiGianKetThuc?.ToString("dd-MM-yyyy") ?? "Chưa xác định";
                        <tr>
                            <td>@khoaHoc.MaKhoaHoc</td>
                            <td>@khoaHoc.TenKhoaHoc</td>
                            <td>@khoaHoc.GiangVien</td>
                            <td>@khoaHoc.ThoiGianKhaiGiang - @thoiGianKetThuc</td>
                            <td>@String.Format("{0:N0} VNĐ", khoaHoc.HocPhi)</td>
                            <td>@khoaHoc.SoLuongHocVienHienTai / @khoaHoc.SoLuongHocVienToiDa</td>
                            <td>@String.Format("{0:N0} VNĐ", khoaHoc.HocPhi)</td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>